body {
  text-align: center;
}
button {
  background: #ccc;
  border: none;
  width: 250px;
  height: 40px;
  border-radius: 6px;
  background: #434851;
  border-color: #489615 #6ea031 #6ea031;
  border-radius: 3px !important;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3), 0 -4px rgba(0, 0, 0, 0.1) inset;
  color: #ffffff;
  padding: 8px;
  font-size: 1.1em;
  font-family: 'Arial Black', Gadget, sans-serif;;
  opacity: 0.85;
  margin-right: 11px;
  margin-bottom:11px;
}

.add {
  background: #2F374F;
}

.crossButton {
  background: rgba(0, 0, 0, 0.05);
  box-shadow: none;
  color: #aa0b0e;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.4em;
  width: auto;
  margin-bottom:0;
  border-radius:none;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

h1,
hr {
  font-family: Verdana;
  color: #789
}

h3 {
  font-family: Verdana;
  opacity: 0.85;
}

hr {
  opacity: 0.1;
}

li {
  background: rgba(0,0,0,0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  list-style: none;
  font-family: 'Arial Black', Gadget, sans-serif;
  color: rgba(0, 0, 0, 0.77);
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  text-align: left;
  height:43px;
  font-weight:bold;
}
li:nth-child(odd) {
    background: rgba(0,0,0,0.05);
}

li:hover {
  background: #fafbfc;
}

#superList {
  background: #e7e9ea;
  padding: 15px;
  
}

ul {
  padding: 0;
  margin: 0
}
h1{
  display: flex;
  color:#6D9199;
  font-family: Impact, Charcoal, sans-serif;

}
input[type=text] {
    border: 2px solid #61767A;
    border-radius: 5px;
    }

label{
  font-family: 'Arial Black', Gadget, sans-serif;
}
.recommencer{
 justify-content : center;
 margin-top: 20px;
   
}
.entete{
  
  justify-content: space-between;
  margin-left: 20px;
}